@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

body {
  padding-top: 100px;
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header{
  background-color: #EDF6FC;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-info{
  display: flex;
  align-items: center;
}

.container {
  justify-content: space-between;
}

#header {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: rgb(9, 192, 243);
  padding-top: 9px;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #EDF6FC;
  margin:0 auto;
  margin-top: auto;
  font-size: 1.6rem;
  color: rgb(9, 192, 243);
}

form{
  text-align: center;
}

.form-edit{
  margin-bottom: 50px;
}



input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  height: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

input[type="checkbox"]{
  width: 30px;
  margin: 0;
  padding: 0;
}

.tag_checkbox {
  margin-bottom: 30px;
}

.tags {
  width: 100%;
  margin: 30 auto;
}

.array-tags-all {
  background-color: rgb(244, 244, 244);
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80%;
}

.each-tags {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.each-tag {
  padding-right: 10px;
}

.all_tags{
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

li{
  margin-right: 10px;
}

.delete_button{
  margin-top: 40px;
}

.user-info{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.user{
  list-style: none;
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.error-messages {
  list-style: none;
  font-size: 15px;
  color: rgb(234, 34, 34);
}

.comment-title{
  margin-top: 10px;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.comment-text{
  font-size: 18px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

.comment{
  list-style: none;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.todo-list{
  margin-top: 50px;
  :hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}

.todos-info{
  color: rgb(0, 0, 0);
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  padding: 10px;
  :hover{
    color: rgb(0, 0, 0);
  }
}

.todos-info-self{
  color: rgb(0, 0, 0);
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  background-color: rgb(93, 148, 203);
  border-radius: 5px;
  padding: 20px;
  :hover{
    color: rgb(0, 0, 0);
  }
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

/* todo一覧 */
.todos_area {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  // margin-top: 50px;
  display: block;
  :hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}
.each_todo_area {
  background-color: #93c9ff;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(245, 242, 242);
  border-radius: 30px;
  margin-bottom: 15px;
}

.status {
  display: flex;
  margin-right: auto;
  padding-top: 15px;
  padding-left: 20px;
}

.todo_info {
  margin-right: auto;
  padding: 15px 15px 15px 20px
}

.each_todo_info {
  list-style: none;
  margin-right: auto;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.target {
  pointer-events: none;
}

.status_button {
  border-radius: 99px;
}

.title {
  font-size: 25px;
  font-weight: bold;

}

.images {
  width:90%;
  margin: auto;
  padding: 15px;
}

.image {
  text-align: center;
  overflow:hidden;
}

.each-image {
  margin: 10px;
}

.comment-area {
  width: 90%;
  margin: auto;
}