h2 ユーザー名：#{current_user.name}
h1 編集ページ
= render partial: '/users/todos/form', locals: {todo: @todo}
.col-md-6.offset-md-3.mb-4
  = button_to "削除する", users_todo_path(@todo), class: "btn btn-danger", method: :delete
